<h1>Mapping with Leaflet & Mapbox</h1>

<div id="address">
  <%= form_tag("/articles", method: "get") do %>
  <%= label_tag("Enter your address to add a pin on the map") %>
  <%= text_field_tag(:map_address, "address") %>
  <%= submit_tag("Submit") %>
  <% end %>
</div>

<div id='map'></div>
<script>
L.mapbox.accessToken = '<%= Rails.application.secrets.mapbox_token %>';
var map = L.mapbox.map('map', 'cluhring.l1b0862b')

map.locate({setView: false, maxZoom: 16});

function onLocationFound(e) {
  var radius = e.accuracy / 2;

  L.marker(e.latlng).addTo(map)
  .bindPopup("You are within " + radius + " meters from this point").openPopup();

  L.circle(e.latlng, radius).addTo(map);
}

map.on('locationfound', onLocationFound);

function onLocationError(e) {
  alert(e.message);
}

map.on('locationerror', onLocationError);
</script>
