<h1>Mapping with Leaflet & Mapbox</h1>

<div id="address">
  <%= form_tag("/articles", method: "get") do %>
  <%= label_tag("Enter your address to add a pin on the map") %>
  <%= text_field_tag(:map_address, "address") %>
  <%= submit_tag("Submit") %>
  <% end %>
</div>

<div id='map'></div>
<script>
L.mapbox.accessToken = '<%= Rails.application.secrets.mapbox_token %>';
var map = L.mapbox.map('map', 'cluhring.l1b0862b')

map.locate({setView: true, maxZoom: 16});

function onLocationFound(e) {
  var radius = e.accuracy / 2;

  L.marker(e.latlng).addTo(map)
  .bindPopup("You are within " + radius + " meters from this point").openPopup();

  L.circle(e.latlng, radius).addTo(map);
}

map.on('locationfound', onLocationFound);

function onLocationError(e) {
  alert(e.message);
}

map.on('locationerror', onLocationError);

function onEachFeature(feature, layer) {
  // does this feature have a property named popupContent?
  if (feature.properties && feature.properties.popupContent) {
    layer.bindPopup(feature.properties.popupContent);
  }
}

var geojsonFeatures = [{
  "type": "Feature",
  "properties": {
    "name": "l1",
    "popupContent": "Denver B&B"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-104.924942, 39.674216]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l2",
    "popupContent": "Denver Love Shack"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-105.107292, 39.6710978]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l3",
    "popupContent": "Denver Mountain Retreat"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-104.863788, 39.7934098]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l4",
    "popupContent": "Brooklyn, Brooklyn, we go hard"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-74.131798, 40.624944]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l5",
    "popupContent": "Manhattan Apt"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-73.987091, 40.7161323]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l6",
    "popupContent": "Big Apple Apts"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-73.959137, 40.7771743]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l7",
    "popupContent": "Rain City, USA Condo"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-122.326798, 47.614519]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l8",
    "popupContent": "Pike Place Market Bungalo"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-122.36908, 47.631634]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l9",
    "popupContent": "Mt Rainier Cabin"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-122.400668, 47.5822069]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l10",
    "popupContent": "Haight-Ashbury Hostel"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-122.423866, 37.7702676]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l11",
    "popupContent": "Golden Gate Escape"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-122.403458, 37.7638552]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l12",
    "popupContent": "Full House"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-122.47216, 37.738628]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l13",
    "popupContent": "Condo on the Mall"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-77.095848, 38.9149646]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l14",
    "popupContent": "Capital Hill House"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-77.045082, 38.9082124]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l15",
    "popupContent": "Lincoln Bedroom"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-77.059799, 38.9126018]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l16",
    "popupContent": "Lincoln Bedroom"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-77.03653, 38.8977332]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l17",
    "popupContent": "Cherry Blossom B&B"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-77.075218, 38.810551]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l18",
    "popupContent": "Private Ford Theatre Balcony Suite"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-77.025978, 38.896648]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l19",
    "popupContent": "House of Cards"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-77.014652, 38.893607]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l20",
    "popupContent": "The West Wing"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-77.0317614, 38.8955911]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l21",
    "popupContent": "Gateway to the West"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-90.383352, 38.586227]
  }
}, {
  "type": "Feature",
  "properties": {
    "name": "l22",
    "popupContent": "Wizard of Oz House"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [-90.1928125, 38.6226441]
  }
}];

L.geoJson(geojsonFeatures, {
  filter: function(feature, layer) {
    return feature.properties.show_on_map;
  }
}).addTo(map);

// L.geoJson(geojsonFeatures, {
//   onEachFeature: onEachFeature,
//   fitBounds: false
// }).addTo(map);
</script>
